# virtual environment
.venv/

# logs
logs/

# python
__pycache__/

# test outputs
outputs/
data/
large_tool_results/
pdfs/
*.pdf

# env files
.env

# python cache
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.pytest_cache/